div(ng-controller="AppCtrl")
  well(title="Example site")
     | Check out <code>example.jade</code> to find out how it's done!

  span Hello from {{ text }}!


  form(role="form")
    .container
      .row
        .col-md-2.col-md-offset-3
          label(for="title") Title:
          input#title.form-control(type="text", placeholder="Enter title", ng-model="data.title")
        .col-md-2
          label(for="year") Year:
          input#year.form-control(type="text", placeholder="Enter year", ng-model="data.year")
        .col-md-2
          label(for="technology") Technology:
          input#technology.form-control(type="text", placeholder="Enter technology", ng-model="data.technology")
      .row
        .col-md-6.col-md-offset-3.text-center
            hr
            button.btn.btn-primary(ng-click="getData()") Fill the form

  .container
    .row
      .col-md-6.col-md-offset-3
        h1 You can use Bootstrap styles and ui-bootstrap!
        .btn-group
          button(type="button", class="btn btn-info", btn-radio="0", ng-model="radioModel") Left
          button(type="button", class="btn btn-info", btn-radio="1", ng-model="radioModel") Middle
          button(type="button", class="btn btn-info", btn-radio="2", ng-model="radioModel") Right

        hr
        h2 What has been used?
        fields = { backend: ['node.js', 'express.js', 'less', 'jade'], frontend: ['AngularJS', 'require.js', 'ui-bootstrap', 'Font Awesome'], 'dev': ['grunt', 'karma'] }

        each field, fieldName in fields
          table.table.table-condensed.table-striped
            thead
              tr
                th= fieldName
            tbody
              each component in field
                tr
                  td= component