doctype html
html(lang='en')
  head
    meta(charset='utf=8')
    title AngularJS + require.js using Bootstrap3 on node.js seed

    link(href='libs/bootstrap-css/css/bootstrap.min.css', rel='stylesheet')
    link(href='libs/fontawesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='stylesheets/base.css', rel='stylesheet')

  body
    block content

  script(src='libs/requirejs/require.js', data-main='/js/main')
  block scripts